<% [@recipe_food, *@foods].each do |model| %>
  <% model.errors.full_messages.each do |message| %>
    <% next if message == 'is invalid' %>
    <div class="error-alert">
      <ul class= 'error-messages'>
        <li class='error-message'><%= message %></li>
      </ul>
    </div>
  <% end %>
<% end %>