.recipe-screen{
  padding: 50px 0 ;
  background-color: whitesmoke;
  width: 100vw;
}

.recipe-contents{
  width: 85vw;
  height: auto;
  min-width: 450px;
  margin: 0 auto;
  background-color: white;
}

.item-lists{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 20px 0 20px;
}

.item-lists .list{
  height: 280px;
  width: 250px;
  margin: 10px auto;
}

.recipe-link{
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
  width: 244px;
}

.recipe-img{
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.recipe-name{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: whitesmoke;
  border: 1px solid black;
}

.add-recipe-btn {
  border-bottom: 5px solid #9f000c;
  border-radius: 100px;
  position: fixed;
  bottom: 70px;
  right: 590px;
  width: 300px;
  height: 60px;
  background: #e46829;
  text-align: center;
  text-decoration: none;
  font-size: 27px;
  display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.add-recipe-btn:hover{
  height:55px;
  border-bottom: 2px solid #9f000c;
}
